.form {
	text-align: right;
	margin: 10px;
}

.form button {
	font: inherit;
	cursor: pointer;
	background-color: #e95014;
	color: white;
	border: 1px solid #e95014;
	color: white;
	color: white;
	padding: 0.25rem 2rem;
	border-radius: 20px;
	font-weight: bold;
}

.form button:hover,
.form button:active {
	background-color: #641e03;
	border-color: #641e03;
}
